.card {
  overflow: hidden;
  box-shadow: 0 4px 12px var(--theme-highlight-color);
  border-radius: 10px;
  background-color: var(--theme-font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-out; 
  cursor: pointer;

  .card-title {
    font-size: 2rem;
    color: var(--theme-bg);
    text-align: center;
    padding: 1rem;
  }

  .card-image {
    heigth: 12rem;
    width: 100%;
    object-fit: cover;
  }

  .card-text {
    padding: 1rem;
    color: var(--theme-bg);
    flex-grow: 1;
  }

  .card-links {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    .card-link {
      text-decoration: none;
      color: var(--theme-bg);

      &:hover {
        color: var(--theme-highlight-color);
      }
    }
  }
  &:hover {
    transform: scale(1.02);
  }
}