.about-text {
  padding: 120px 80px;
  max-width: 1000px;
  margin: auto;

  h1, h2{
    font-size: 2em;
    padding: 10px;
    color: var(--theme-highlight-color);
    opacity: 0;
    animation: fadeInLeft 0.5s 0.5s;
    animation-fill-mode: forwards;
  }

  h2 {
    font-size: 1.5em;
    padding: 10px;
    margin-top: 1em;
    color: var(--theme-highlight-color);
  }

  p {
    padding: 10px;
    opacity: 0;
    animation: fadeIn 1s 1s;
    animation-fill-mode: forwards;
  }

  .tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    svg {
      padding: 0 10px;
      width: 45px;
      height: 45px;
      color: var(--theme-font-color);

      &:hover {
        color: var(--theme-highlight-color);
      }
    }
  }

  .dllink {
    color: var(--theme-font-color);
    text-decoration: none;

    &:hover {
      color: var(--theme-highlight-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .about-text {
    padding: 120px 20px;

    h1 {
      font-size: 1.5em;
      text-align: center;
    }

    h2 {
      font-size: 1.2em;
      text-align: center;
    }
  }
}