.hero-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .hero-text {
    margin-left: 40px;
    font-family: var(--theme-font-family);

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 3em;
    }
    opacity: 0;
    animation: fadeInRight 2s 1.5s;
    animation-fill-mode: forwards;
  }

  .hero-line {
    margin-left: 20px;
    height: 300px;
    border-right: solid var(--theme-font-color) 3px;
    opacity: 0;
    animation: fadeInDown 1.2s 1.2s;
    animation-fill-mode: forwards;
  }

  .hero-picture img {
    border-radius: 30%;
    width: 350px;
    height: 350px;
    opacity: 0;
    animation: fadeInLeft 1s 1s;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 950px) {
  .hero-area {
    flex-direction: column;
    .hero-text {
      font-size: 0.9em;
    }
    .hero-line {
      height: 3px;
      width: 300px;
      margin-left: 0;
      margin-top: 20px;
      border-right: none;
      border-top: solid var(--theme-font-color) 3px;
    }

    .hero-picture {
      margin-top: 70px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-area {

    .hero-text {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      order: 1;

      h1,
      h2 {
        margin: 0px;
      }

      h1 {
        font-size: 3em;
        margin-top: 5px;
      }

      h2 {
        font-size: 2.5em;
      }
    }

    .hero-line {
      order: 2;
      margin-top: none;
      margin-bottom: 20px;
    }

    .hero-picture {
      order: 3;
      margin-top: 0px;
    }

    .hero-area {
      animation: fadeIn 1.2s 1.2s;
    }

    font-size: 0.8em;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .hero-area {
    height: 180vh;
    font-size: 0.5em;
    margin-top: 10px;

    .hero-text {
      order: 1;
    }

    .hero-line {
      order: 2;
    }

    .hero-picture {
      order: 3;
    }
  }
}
