.hero-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .hero-text {
    margin-left: 40px;

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 3em;
    }
    opacity: 0;
    animation: fadeInRight 2s 1.5s;
    animation-fill-mode: forwards;
  }

  .hero-line {
    margin-left: 20px;
    height: 300px;
    border-right: solid var(--theme-font-color) 3px;
    opacity: 0;
    animation: fadeInDown 1.2s 1.2s;
    animation-fill-mode: forwards;
  }

  .hero-picture img {
    border-radius: 30%;
    width: 350px;
    height: 350px;
    opacity: 0;
    animation: fadeInLeft 1s 1s;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 950px) {
  body {
    font-size: 0.9em;
  }
  .hero-area {
    flex-direction: column;

    .hero-line {
      height: 3px;
      width: 300px;
      margin-left: 0;
      margin-top: 20px;
      border-right: none;
      border-top: solid var(--theme-font-color) 3px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-area {
    .hero-text {
      margin-left: 20px;
      margin-right: 20px;
    }
    font-size: 0.7em;
    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2.5em;
    }
  }
}

@media screen and (max-height: 600px) {
  .hero-area {
    height: 180vh;

    .hero-line {
      order: 2;
      margin-top: none;
      margin-bottom: 20px;
    }

    .hero-picture {
      order: 3;
    }
  }
}
