.header-container {
  display: flex;
  background: var(--theme-bg);
  width: 100%;
  height: 100px;
  z-index: 3;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: block;
    padding: 10px 0;

    img {
      display: block;
      margin: auto 10px;
      width: auto;
      height: 80px;
    }
  }

  ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 20px;

    li {
      margin: 5px;
      color: var(--theme-font-color);

      a{
        color: var(--theme-font-color);

        &:hover {
          color: var(--theme-highlight-color);
          transition: all 0.3s ease-out;
        }
      }
    }


  }
}
