.header-container {
  position: fixed;
  top: 0;
  display: flex;
  background: var(--theme-bg);
  width: 100%;
  height: 100px;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--theme-highlight-color);

  .logo {
    display: block;
    padding: 10px 0;

    img {
      display: block;
      margin: auto 10px;
      width: auto;
      height: 80px;
    }
  }

  .nav-list {
    display: block;
    text-align: center;
    position: absolute;
    right: 20px;
    margin-top: -20px;

    a {
      color: var(--theme-font-color);
      font-size: 22px;
      line-height: 51px;
      width: 51px;
      padding: 0 10px;
      text-decoration: none;
      position: relative;

      &:hover {
        color: var(--theme-highlight-color);

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 10px;
        position: absolute;
        bottom: -15px;
        left: -1px;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.5s ease-out;
      }

      &:first-child {
        &::after {
          content: "HOME";
        }
      }
    }
    a.about-link {
      &::after {
        content: "ABOUT";
      }
    }

    a.project-link {
      &::after {
        content: "PROJECTS";
      }
    }

    a.contact-link {
      &::after {
        content: "CONTACT";
      }
    }

    a.active {
      color: var(--theme-highlight-color);
    }
  }
}