.footer-container {
  background: var(--theme-bg);
  width: 100%;
  height: 60px;

  ul {
    display: flex;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin: 0;

    li {
      a {
        display: block;
        font-size: 30px;
        line-height: 31px;
        margin: 0 10px;
        padding-top: 15px;

        svg {
          color: var(--theme-font-color);
        }

        &:hover svg {
          color: var(--theme-highlight-color);
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}